<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja Printing Tags</title>
</head>
<body>
    <center>
        <h1>This is my first time i am using context attribute for sending data from BE to FE</h1>
        <h1>My name is {{name}}</h1>

{% if age > 10 %}

        <h1>My age is {{age}}</h1>
    
{% endif %}    
</center>
<center>
{% for b in courses %}
        <h1>{{b}}</h1>
{% endfor %}

<h1>Navigating from one html page to another html page</h1>
<h1><a href="{% url 'forloop' %}">Click here to go back to for loop page </a></h1>
    </center>
</body>
</html>